body{
    margin: 0;
}
.cabecalho{
    padding: 30px 90px;
    background-color: black;
    color: aliceblue;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;

}
.conteudo{
    padding: 20px 50px;
    background-color: rgb(53, 53, 53);
    margin: 0;
}
.imagem{
    position: fixed;
    bottom: -50px;
}
p{
    margin: 0;
    text-align: justify;
}
.imagem img{
    padding: 10px;
    height: 600px;
    animation: go-back 1s infinite alternate;
}
@keyframes go-back {
    from {
    transform: translateY(10px);
    }
    to {
    transform: translateX(0);
    }
}
.lateral{
    margin-left: 50%;
    margin-right: 5%;
}
.botao{ 
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 10px;
}
button{
    width: 200px;
    color: black;
    background-color: rgb(255,199,39);
    padding: 10px;
    border-style: none;
    border-radius: 20px;
}
.sobre h2, .contato h2{
    color:  rgb(255,199,39);
}
.sobre, .contato{
    color: aliceblue;
}
